body {
  margin: 0;
  height: 100%; }

#root {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%; }

.main-ctn {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%; }
  .main-ctn .main-page-wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin-right: 70px; }



// WEBPACK FOOTER //
// ./src/components/App.scss